body {}

nav {
    background-color: black;
    font-weight: 500;
    color: white;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

nav li a {
    color: white !important;
}

.team_row {
    height: 5vh;
}

.about_content p {
    font-size: large;
}

.contact_form {
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8.5px);
    -webkit-backdrop-filter: blur( 8.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.contact_form_innerFields {
    background-color: unset;
}

.glass {
    background: rgb(239 227 227 / 50%);
    box-shadow: 0 8px 32px 0 rgb(76 83 178 / 37%);
    backdrop-filter: blur( 20px);
    -webkit-backdrop-filter: blur( 20px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

:root {
    --animate-duration: 1000ms;
}


/* Buttons CSS Starts */

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}


/* Buttons CSS Ends */